html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px auto;
    border: 0px;
}

@font-face{
    font-family:'華康行書體';
    src:url(/font/華康行書體.ttf)format("truetype")
        url(/font/華康行書體.woff)format("woff")
}
@font-face{
    font-family:'Gabriola';
    src:url(/font/Gabriola.ttf)format("truetype"),
        url(/font/Gabriola.woff)format("woff");
}
.container{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    background-repeat:no-repeat;
    background-size: cover;
    background-image: url(/img/圖片_資訊首頁_background.png);
    background-color:rgba(150, 150, 150, 0.068);
}
.header{
    display:flex;
    justify-content: space-around;
    margin:0 auto ;
    padding:0 auto;
    width:100%;
}

.header-left{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
}

.header-left-logo{
    width:383px;
    height:61.825px;
    margin-left:42.75px;
    margin-top: 30.147px;
    padding:0px;
}

.header-left-title{
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}

.header-left-chititle{
    font-family: '華康行書體';
    font-size: 20px;
    color: #E26542;
    margin-top: 24px;
    padding:0px auto;
}
.header-left-engtitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color:#626262;
    margin-bottom: 6px;
    margin-top: 6px;
    padding:0px;
}

.header-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    margin: 0 auto;
    padding: 0 auto;
}

.header-right-top-bar{
    margin-right: 60px;
    margin-top:53px;
    padding: 0 auto;
    font-family: '華康行書體';
    color:#494848;
    font-size: 14px;
}

.header-right-nav{
    font-size:20px;
    margin-top: 54px;
    margin-right:43.5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 31.5px; 
    font-family: '華康行書體';
    background-color: #fff;
}

.header-link{
    color: #000;
    text-decoration: none;
}

.header-nav-link{
    color: #000;
    text-decoration: none;
    padding-right:31.5px;

}

.header-buttom-line{
    width:1114px ;
    size: 1px;
    color:000;
    margin:0 auto;
    padding: 0 auto;
}




.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px auto;
    padding:0px auto;
    height: 950px;
}
.layout-content{
    display: flex;
    margin-top: 50.5px;
    padding: 0 auto;
}
.layout-content-title{
    width: 95.25px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#494848;
    color:#FEFEFE;
    font-size:20px;
    font-family: '華康行書體';
}
.layout-content-block{
    width:826.742px;
    background-color:#FEFEFE;
    opacity: 0.85;
}

.layout-block-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layout-content-flex-email{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.block-mail{
    display: flex;
}

.layout-content-block-squre{
    width:320.5px;
    background-color:#FEFEFE;
    opacity: 0.85;
    margin-right:58px;
}

.layout-content-block-calender{
    width:360px;
    height:218.405px;
    opacity: 0.85;
    background-color:#FEFEFE;


}

.layout-flex{
    margin-bottom: 50px;
    display: flex;
}

/* footer */

.footer{
    width: 100%;
    height: 85px;
    background-color:#3aa066;
    margin: 0;
    padding: 0; 
  }
  .footer-link{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-top:30px;
    margin-left: 74.372px;
  }
  .footer-btn{
    color: #FEFEFE;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-right: 5px;
  }
  .copyright{
    color: #FEFEFE;
    text-decoration: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-top: 9px;
    margin-left: 74.372px;
  }
  
  .icon-zone{
  padding: 0;
  margin-right: 80.949px;
  margin-left: 64.782px;
  margin-top: 36px;
  margin-bottom: 38.9px;
  }
  .icon{
    width: 36px;
    height: 36px;
    margin-left: 27.496px;
  }